<div class="text-center">
  <p class="font-bold text-lg">Seja um patrocinador</p>
  <p class="text-gray-500 mb-8">Apoie nossa comunidade com a sua marca!</p>
  <a
    href="/patrocinio_dev_conf_2023.pdf"
    target="_blank"
    class="rounded-md bg-white border border-gray-300 hover:bg-gray-100 text-gray-700 py-2.5 px-3.5 text-sm font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
  >
    <svg
      class="inline"
      xmlns="http://www.w3.org/2000/svg"
      width="1em"
      height="0.95em"
      viewBox="0 0 19 18"
      fill="none"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M9.49428 3.27985C7.82816 1.332 5.04978 0.808035 2.96224 2.59168C0.874693 4.37532 0.580796 7.35748 2.22015 9.467C3.58317 11.2209 7.70813 14.9201 9.06007 16.1174C9.21133 16.2513 9.28695 16.3183 9.37517 16.3446C9.45216 16.3676 9.53641 16.3676 9.6134 16.3446C9.70161 16.3183 9.77724 16.2513 9.92849 16.1174C11.2804 14.9201 15.4054 11.2209 16.7684 9.467C18.4078 7.35748 18.1498 4.35656 16.0263 2.59168C13.9029 0.826798 11.1604 1.332 9.49428 3.27985Z"
        stroke="#344054"
        stroke-width="1.66667"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
    &nbsp;Quero patrocinar
  </a>
</div>
