---
import { Picture } from "@astrojs/image/components";

const { patrocinadores, titulo } = Astro.props;
---
{
  patrocinadores.length > 0 && (
    <div class="w-full rounded-xl bg-gray-100 p-12 mb-8">
      <h2 class="text-2xl tracking-tight text-gray-700 text-center mb-4 font-bold">
        {titulo}
      </h2>
      <ul
        role="list"
        class="flex justify-evenly flex-wrap"
      >
        {patrocinadores.map((patrocinador) => {
          return (
            <li class="text-center">
              <a href={patrocinador.link} target="_blank" class="inline-block">
                <Picture
                  class="mx-auto h-24 object-contain"
                  widths={[100, 200, 400, 800]}
                  aspectRatio={patrocinador.aspectRatio || "1:1"}
                  src={patrocinador.image}
                  alt={patrocinador.name}
                />
              </a>
            </li>
          );
        })}
      </ul>
    </div>
  )
}
